body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    background: #888888;
    border: 1px solid #cccccc;
    color: white;
    padding: 8px;
    user-select: none;
}

.section-btn-toggle{
    display: flex;
    align-items: center;
}

.section-btn-toggle label{
    color: #888888;
    margin-right: 10px;
}

.btn-toggle-dark{
    display: flex;
    border-radius: 9999px;
    height: 16px;
    width: 32px;
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
}

.btn-toggle-dark:hover{
    cursor: pointer;
}


.btn-toggle-dark-on{
    background-color: #357edd;
    border: 1px solid #357edd;
    justify-content: flex-end;
}

.circle{
    border-radius: 9999px;
    width: 16px;
    background-color: #FFF;   
}

footer {
    color: #888888;
    border-top: 2px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

@media (max-width: 345px){
    .section-btn-toggle label{
        font-size: 12px;
        max-width: 30px;
        margin-right: 0;
    }
}

@media (max-width: 768px){
    .section-btn-toggle label{
        max-width: 40px;
    }
}